@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --success: 140 60% 40%;
    --success-foreground: 210 40% 98%;
    --warning: 45 90% 50%;
    --warning-foreground: 210 40% 98%;
  }
  .dark {
    --background: 221 42% 18%;
    --foreground: 210 40% 98%;
    --card: 221 42% 22%;
    --card-foreground: 210 40% 98%;
    --popover: 221 42% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 172 99% 72%;
    --primary-foreground: 222 68% 11%;
    --secondary: 222 68% 11%;
    --secondary-foreground: 210 40% 98%;
    --muted: 221 42% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 221 42% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 221 42% 25%;
    --input: 221 42% 25%;
    --ring: 172 99% 81%;
    --success: 140 70% 50%;
    --success-foreground: 210 40% 98%;
    --warning: 45 90% 60%;
    --warning-foreground: 45 90% 5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
